<h1>Welcome <%= render "user.html", user: @user %></h1>
<p><u>These are your data</u></p>
<p>Name: <b><%= first_name(@user) %></b></p>
<p>Username: <b><%= @user.username %></b></p>
<p>Id: <b><%= @user.id %></b></p>
<%= link "Go Back", to: Routes.user_path(@conn, :index) %>
